<div class="w-50 shadow m-auto my-5 p-3">
  <p class="text-success fs-5"><span class="fw-bold text-dark ">ID:</span> {{product?.id}}</p>
  <p class="text-success fs-5"><span class="fw-bold text-dark">Name:</span> {{product?.name}}</p>
  <p class="text-success fs-5"><span class="fw-bold text-dark">Price:</span> {{product?.price}}</p>
  <p class="text-success fs-5"><span class="fw-bold text-dark">Quantity:</span> {{product?.quantity}}</p>
  <div class="text-center"><button class="btn btn-outline-dark" (click)="goback()">Go To Product</button></div>
</div>
